<form [formGroup]="form" class="ui container form" style="padding:20px 10px">

  <div class="ui message">
      <div class="header">
          Fill out the required fields and do/confirm the mentioned tasks.
      </div>
  </div>

  <h3 class="ui dividing header" style="padding-top:30px">
      <i class="cog icon"></i>
      Service Period
  </h3>

  <div class="six wide required field" style="padding:20px 10px">
      <label>Period</label>
      <input type="text" id="datepicker" formControlName="Period"/>
  </div>


  <h3 class="ui dividing header" style="padding-top:20px">
          <i class="user alternate icon"></i>
          Customer Information
      </h3>

  <div class="six wide required field" style="padding:20px 10px">
      <label>Customer</label>
      <xa-select formControlName="Customer" placeholder="Select Customer" [options]="Customers$ | async"
          [loading]="!(Customers$ | async)">
      </xa-select>
  </div>

  <div class="six wide required field" style="padding:20px 10px">
      <label>Customer Ordernumber</label>
      <input type="text" formControlName="CustomerOrderNumber">
  </div>

</form>