<h2 class="ui dividing header">
  <i class="paperclip icon"></i>
  General Information
</h2>

<div class="ui message">
  <div style="padding-top: 10px">
    <div>Service name: {{this.infoData.servicename}} ({{this.infoData.serviceid}})</div>
    <div>Customer: {{this.infoData.customer}}</div>
    <div>supportedBy: {{this.infoData.supportedBy}}</div>
    <div>
      <hr>
    </div>
    <div>Order-ID: {{this.infoData.requestId}}</div>
    <div><b>Requestor: {{this.infoData.requestor}}</b></div>
  </div>
</div>
