<div class="ui grid" style="margin-bottom: 5px;">
  <div class="right floated wide column">
    <button *ngIf="this.showSearchButton" class="ui left floated primary button"
      (click)="OpenHostSearchComponentModal()">
      {{this.searchButtonText}}
    </button>
    <button *ngIf="rowData.length && this.showClearButton" class="ui right negative button" (click)="clearCIs()">
      Clear List
    </button>
  </div>
</div>
<!-- show table only if flag is set -->
<div *ngIf="showTable">
  <div [innerHTML]="this.tableDescription"></div>
  <ag-grid-angular style="width: 100%; height: 350px;" class="ag-theme-balham" (gridReady)="onGridReady($event)"
                   [columnDefs]="columnDefs" [rowData]="rowData" [rowSelection]="rowSelection"
                   [getContextMenuItems]="getContextMenuItems" (cellValueChanged)="onCellChanged($event)">
  </ag-grid-angular>

  <span *ngIf="this.rowData.length>0"><b># Data rows:</b>
    {{this.rowData.length}}</span><br>

  <span id="eIcon" class="ag-menu-option-icon"></span>
</div>
