<div class="ui message">
    <i class="close icon" (click)="Cancel()"></i>
    <h3 class="ui dividing header">
        Add Application-CI
    </h3>


    <search-component style="height: 300px" selectionMode="single" [fields]='SearchFields'
    (selectionChanged)='onSearchChanged($event)' [search]="searchFunction"></search-component>
        <div class="field">
            <div class="actions" style="padding-top: 10px">
                <button class="ui green button" (click)="AddCIs()">Add App-CI</button>
                <button class="ui red button" (click)="Cancel()">Cancel</button>

            </div>
        </div>
</div>
