<ag-grid-angular style="width: 100%; height: 300px;" class="ag-theme-balham" [columnDefs]="columnDefs"
    [rowData]="rowData" [overlayLoadingTemplate]="overlayLoadingTemplate"
    [overlayNoRowsTemplate]="overlayNoRowsTemplate" [rowSelection]="rowSelection"
    [getContextMenuItems]="getContextMenuItems" [frameworkComponents]="frameworkComponents"
    (gridReady)="onGridReady($event)">
</ag-grid-angular>

<div class="ui grid">
    <div class="left floated six wide column">
        <span *ngIf="this.rowData.length>0"><b># attached files:
                {{this.rowData.length}}/{{this.maxNumberofFiles}}</b></span>
    </div>
</div>
