<div [innerHTML]="this.tableDescription"></div>
<ag-grid-angular style="width: 100%; height: 150px;" class="ag-theme-balham" (gridReady)="onGridReady($event)"
  [columnDefs]="columnDefs" [rowData]="rowData" [rowSelection]="rowSelection"
  [getContextMenuItems]="getContextMenuItems" [overlayLoadingTemplate]="overlayLoadingTemplate"
  [overlayNoRowsTemplate]="overlayNoRowsTemplate">
</ag-grid-angular>

<span *ngIf="this.rowData.length>0"><b># Data rows:</b>
  {{this.rowData.length}}</span><br>


<div class="ui grid" style="margin-bottom: 5px;">
  <div class="right floated wide column">
    <button type="button" class="ui right floated primary button" [disabled]="this.rowData.length >= 1" (click)="OpenHostSearchComponentModal()" style="margin: 10px;">
      Add Host-CI
    </button>


    <button type="button" class="ui right floated primary button" [disabled]="this.rowData.length >= 1"  (click)="OpenAppSearchComponentModal()" style="margin: 10px;">
      Add Application-CI
    </button>

    <button type="button" *ngIf="rowData.length && this.showClearButton" class="ui right negative button" (click)="clearGridList()"
      style="margin: 10px;">
      Clear List
    </button>
  </div>
</div>
