<div ngClass="nonProd">
  <left-menu></left-menu>
  <div class="pusher">
    <div class="content-container">
      <div *ngIf="ui.Header.Show$ | async" class="content-header">
        <div class="ui container" style="height:100%">
          <div class="ui menu"
            style="margin:0px!important;margin-top:auto;margin-bottom: auto;height: 100%; border: none; box-shadow: none; background: none">


            <div *ngIf="ui.Header.Title$ | async" class="item menutitle">
              <div class="content">

                <h2 class="ui header">
                  <i *ngIf="ui.Header.Icon$ | async as Icon" [ngClass]="Icon" class="icon"
                    style="margin-right:10px;"></i>
                  <div class="content" style="vertical-align: sub!important;">
                    <span [innerHtml]="ui.Header.Title$ | async"></span>
                    <div class="subHeaderDiv" *ngIf="ui.Header.SubTitle$ | async; let subTitle;" style="display: flex;">
                      <div class="sub header" [innerHtml]="subTitle"></div>
                    </div>

                  </div>
                </h2>

              </div>
            </div>


            <div class="right menu" style="padding-right:7px">
              <ui-button style="margin-top:auto; margin-bottom:auto;" [behavior]="ui.Header.AddButton"></ui-button>
              <ui-button style="margin-top:auto; margin-bottom:auto;" [behavior]="ui.Header.RefreshButton"></ui-button>
              <ui-button style="margin-top:auto; margin-bottom:auto;" [behavior]="ui.Header.SaveButton"></ui-button>
              <div class="header-menu" *ngIf="ui.Header.Menu$ | async" style="margin-top:auto; margin-bottom:auto;">
                <div class="ui small icon button dropdown" style="margin-top:auto; margin-bottom:auto;">
                  <i class="hamburger icon" style="margin-right: 5px!important;"></i>
                  <div class="text">Actions</div>
                  <div class="menu">
                    <ng-container [ngTemplateOutlet]="ui.Header.Menu$ | async"></ng-container>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="content-main">
        <!-- <create-sr-request-form [Context]="requestContext"></create-sr-request-form> -->
        <!-- <create-rfc-request-form [Context]="requestContext"></create-rfc-request-form> -->
        <!-- <ranf-request-form [Context]="requestContext"></ranf-request-form> -->
        <!-- <ranf-ut-check [Context]="taskContext"></ranf-ut-check> -->
        <!-- <billing-request-form [Context]="requestContext"></billing-request-form> -->
        <!-- <phoneforwarding-request-form [Context]="requestContext"></phoneforwarding-request-form> -->
        <!-- <create-nfs-volume-request-form [Context]="requestContext"></create-nfs-volume-request-form> -->
        <!-- <storage-extension-request-form [Context]="requestContext"></storage-extension-request-form> -->
        <patchautomation-request-form [Context]="requestContext"></patchautomation-request-form>

      </div>

      <div *ngIf="ui.Footer.Show$ | async" class="content-footer">
        <div class="ui container">
          <div class="ui text menu" style="margin: 0px">
            <div class="ui text menu" style="padding:5px 0px; margin: 0px">
              <ui-button [behavior]="ui.Footer.SubmitButton"></ui-button>
              <ui-button [behavior]="ui.Footer.ApproveButton"></ui-button>
              <ui-button [behavior]="ui.Footer.RejectButton"></ui-button>
              <ui-button [behavior]="ui.Footer.CloseButton" style="margin-left:20px"></ui-button>
              <ui-button [behavior]="ui.Footer.SaveButton" style="margin-left:20px"></ui-button>

            </div>
            <div class="right ui text menu" style="padding: 5px 0px; margin: 0px">
              <ui-button [behavior]="ui.Footer.FeedbackButton"></ui-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<xa-notify></xa-notify>
