<div ngClass="nonProd">
  <left-menu></left-menu>
  <div class="pusher">
    <div class="content-container">
      <div *ngIf="ui.Header.Show$ | async" class="content-header">
        <div class="ui container" style="height:100%">
          <div class="ui menu"
            style="margin:0px!important;margin-top:auto;margin-bottom: auto;height: 100%; border: none; box-shadow: none; background: none">


            <div *ngIf="ui.Header.Title$ | async" class="item menutitle">
              <div class="content">

                <h2 class="ui header">
                  <i *ngIf="ui.Header.Icon$ | async as Icon" [ngClass]="Icon" class="icon"
                    style="margin-right:10px;"></i>
                  <div class="content" style="vertical-align: sub!important;">
                    <span [innerHtml]="ui.Header.Title$ | async"></span>
                    <div class="subHeaderDiv" *ngIf="ui.Header.SubTitle$ | async; let subTitle;" style="display: flex;">
                      <div class="sub header" [innerHtml]="subTitle"></div>
                    </div>

                  </div>
                </h2>

              </div>
            </div>


            <div class="right menu" style="padding-right:7px">
              <ui-button style="margin-top:auto; margin-bottom:auto;" [behavior]="ui.Header.AddButton"></ui-button>
              <ui-button style="margin-top:auto; margin-bottom:auto;" [behavior]="ui.Header.RefreshButton"></ui-button>
              <ui-button style="margin-top:auto; margin-bottom:auto;" [behavior]="ui.Header.SaveButton"></ui-button>
              <div class="header-menu" *ngIf="ui.Header.Menu$ | async" style="margin-top:auto; margin-bottom:auto;">
                <div class="ui small icon button dropdown" style="margin-top:auto; margin-bottom:auto;">
                  <i class="hamburger icon" style="margin-right: 5px!important;"></i>
                  <div class="text">Actions</div>
                  <div class="menu">
                    <ng-container [ngTemplateOutlet]="ui.Header.Menu$ | async"></ng-container>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="content-main">
        <!-- <create-sr-request-form [Context]="CreateSR_Context"></create-sr-request-form> -->
        <!-- <create-rfc-request-form [Context]="CreateRFC_Context"></create-rfc-request-form> -->
        <!-- <create-incident-request-form [Context]="CreateIncident_Context"></create-incident-request-form> -->
        <!-- <create-problem-request-form [Context]="CreateProblem_Context"></create-problem-request-form> -->
        <!-- <create-nfs-volume-request-form [Context]="CreateNFS_Context"></create-nfs-volume-request-form> -->
        <!-- <create-f5-virtual-server-request-form [Context]="CreateF5VirtualServer_RF_Context"></create-f5-virtual-server-request-form> -->
        <!-- <create-f5-virtual-server-ut-validate [Context]="CreateF5VirtualServer_UT_Validate_Context"></create-f5-virtual-server-ut-validate> -->
        <!-- <create-oracle-database-request-form [Context]="Create_Oracle_DB_Context"></create-oracle-database-request-form> -->
        <!-- <ranf-request-form [Context]="RANF_RF_Context"></ranf-request-form> -->
        <!-- <ranf-ut-check [Context]="RANF_RF_UT_Check_Context"></ranf-ut-check> -->
        <!-- <billing-request-form [Context]="Billing_Context"></billing-request-form> -->
        <!-- <phoneforwarding-request-form [Context]="Phoneforwarding_Context"></phoneforwarding-request-form> -->
        <!-- <storage-extension-request-form [Context]="Storage_Extension_Context"></storage-extension-request-form> -->
        <!-- <patchautomation-request-form [Context]="Patchautomation_Context"></patchautomation-request-form> -->
        <!-- <patchautomation-remove-request-form [Context]="Patchautomation_Remove_Context"></patchautomation-remove-request-form> -->
        <!-- <vm-create-request-form [Context]="VMCreate_v1_Context"></vm-create-request-form> -->
        <!-- <vmcreate-request-form-v2 [Context]="VMCreate_v2_Context"></vmcreate-request-form-v2> -->
        <!-- <universal-tap-execution-kfa-deployment-request-form [Context]="Universal_Tap_Execution_KFA_Deploy_Context"></universal-tap-execution-kfa-deployment-request-form> -->
        <!-- <oracle-db-rdn-request-form [Context]="Oracle_DB_Rundown_RF_Context"></oracle-db-rdn-request-form> -->
        <!-- <oracle-db-rdn-ut-enter-interface [Context]="Oracle_DB_Rundown_UT_Enter_Interface_Context"></oracle-db-rdn-ut-enter-interface> -->
        <!-- <oracle-db-rdn-ut-enter-storage [Context]="Oracle_DB_Rundown_UT_Enter_Storage_Context"></oracle-db-rdn-ut-enter-storage> -->
        <!-- <oracle-db-rdn-ut-select-interface [Context]="Oracle_DB_Rundown_UT_Select_Interface_Context"></oracle-db-rdn-ut-select-interface> -->
        <!-- <oracle-db-rdn-ut-select-storage [Context]="Oracle_DB_Rundown_UT_Select_Storage_Context"></oracle-db-rdn-ut-select-storage> -->
        <!-- <create-oracle-vm-request-form [Context]="Create_Oracle_VM_Context"></create-oracle-vm-request-form> -->
        <!-- <server-rundown-request-form [Context]="Server_Rundown_Context"></server-rundown-request-form> -->
        <!-- <server-rundown-ut-nas-offline [Context]="Server_Rundown_UT_NAS_Offline_Context"></server-rundown-ut-nas-offline> -->
        <!-- <server-rundown-ut-select-storage [Context]="Server_Rundown_UT_Select_Storage_Context"></server-rundown-ut-select-storage> -->
        <!-- <sap-startup-request-form [Context]="SAP_Startup_Context"></sap-startup-request-form> -->
        <!-- <sap-application-rundown-request-form [Context]="SAP_Application_Rundown_Context"></sap-application-rundown-request-form> -->
        <!-- <sap-application-rundown-ut-nas-offline [Context]="SAP_Application_Rundown_UT_NAS_Offline_Context"></sap-application-rundown-ut-nas-offline> -->
        <!-- <sap-application-rundown-ut-select-storage [Context]="SAP_Application_Rundown_UT_Select_Storage_Context"></sap-application-rundown-ut-select-storage> -->
        <!-- <test-request-request-form [Context]="Test_Request_Context"></test-request-request-form> -->
        <!-- <patchautomation-process-report-request-form [Context]="Patchautomation_Process_Report_Context"></patchautomation-process-report-request-form> -->
        <!-- <vm-cpu-ram-extension-request-form [Context]="VM_CPU_RAM_Extension_Context"></vm-cpu-ram-extension-request-form> -->
        <!-- <create-snapshot-request-form [Context]="Create_Snaphsot_Context"></create-snapshot-request-form> -->
        <create-ip-network-request-form [Context]="Create_IP_Network_RF_Context"></create-ip-network-request-form>
      </div>

      <div *ngIf="ui.Footer.Show$ | async" class="content-footer">
        <div class="ui container">
          <div class="ui text menu" style="margin: 0px">
            <div class="ui text menu" style="padding:5px 0px; margin: 0px">
              <ui-button [behavior]="ui.Footer.SubmitButton"></ui-button>
              <ui-button [behavior]="ui.Footer.ApproveButton"></ui-button>
              <ui-button [behavior]="ui.Footer.RejectButton"></ui-button>
              <ui-button [behavior]="ui.Footer.CloseButton" style="margin-left:20px"></ui-button>
              <ui-button [behavior]="ui.Footer.SaveButton" style="margin-left:20px"></ui-button>

            </div>
            <div class="right ui text menu" style="padding: 5px 0px; margin: 0px">
              <ui-button [behavior]="ui.Footer.FeedbackButton"></ui-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<xa-notify></xa-notify>
