<form [formGroup]="form" class="ui container form" style="padding:20px 10px">

  <h2 class="ui dividing header">
    <i class="edit outline icon"></i>
    <div class="content">
      <span> KFA-Deployment </span>
      <div class="sub header">Lorem ipsum dolor sit amet, consetet</div>
    </div>
  </h2>

  <div class="ui segment">
    <label class="ui ribbon label">Todo: Description</label>
    <ul>
      <li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy </li>
      <li>eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</li>
      <li> At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata</li>
    </ul>
  </div>

  <div *ngIf="form.get(FORM_IS_CAT_DB_DATA_LOADED.key)?.value; else loading" class="field">

    <div class="field" [class.required]="this.getValidationService | required:FORM_STARTDATE.key">
      <label>{{FORM_STARTDATE.label}}</label>
      <ng2-flatpickr [formControlName]="FORM_STARTDATE.key" [config]="startOptions"
        [placeholder]="FORM_STARTDATE.placeholder">
      </ng2-flatpickr>
      <show-errors [control]="this.form.get(FORM_STARTDATE.key)"></show-errors>
    </div>

    <h2 class="ui dividing header">
      <i class="paperclip icon"></i>
      Cat DB data
    </h2>
    <div class="field">
      <json-values-simple-table title="loaded CatDB data" [infoData]="catDBData"></json-values-simple-table>
    </div>
  </div>

</form>

<pre *if-dev> Payload data:{{Context.Payload | json }}</pre>
<pre *if-dev> Form data:{{form.getRawValue() | json }}</pre>

<ng-template #loading>
  <div class="ui segment" style="height: 150px;">
    <div style="padding-top: 10px">
      <div class="ui active inverted dimmer">
        <div class="ui text loader"><b>please wait while data from the CatDB are loaded ...</b></div>
      </div>
      <p></p>
    </div>
  </div>
</ng-template>

<xa-notify></xa-notify>
